

body {
    background-image: url("1111.jpg");
    background-size: 100%;
    background-position: top;
}

#back{
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #ec0c0c;
    background-position: center;
    color: #000000;
}
#miha {
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #34edf5;
    background-position: center;
    color: #000000;
}
#nastya {
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #34edf5;
    background-position: center;
    color: #000000;
}

@media screen and (max-width: 1200px) and (min-width: 781px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-image: url("1111.jpg");
        background-size: 150%;
        background-position: top;
    #miha, #nastya {
        width: auto;
    }

    }
}
@media screen and (max-width: 780px) and (min-width: 481px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-image: url("1111.jpg");
        background-size: 200%;
        background-position: top;
    #miha, #nastya {

        width: 1000px;
    }

    }
}
@media screen and (max-width: 480px) and (min-width: 361px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-image: url("1111.jpg");
        background-size: 232%;
        background-position: top;
    #miha, #nastya {
        width: auto;
    }

    }
}
@media screen and (max-width: 360px) and (min-width: 245px) {
    article {
        float: none;
        width: auto;
        height: auto;
    }
    body {
        background-image: url("1111.jpg");
        background-size: 300%;
        background-position: top;
    #miha, #nastya {
        height: 100px;
        width: auto;
    }
}

}
@media screen and (max-width: 244px) {
    article {
        float: none;
        width: auto;
        height: auto;
    }
    body {
        background-image: url("1111.jpg");
        background-size: 400%;
        background-position: top;
    #miha, #nastya {
         height: 100px;
         width: auto; 
    }
}

}
