@font-face {
    font-family: "xo_verbenaregular";
    src: url('/XO_Verbena.ttf') format('truetype');
}
@font-face {
    font-family: "xo_orielregular";
    src: url('/XO_Oriel.ttf') format('truetype');
}
@font-face {
    font-family: "xo_tahionregular";
    src: url('/XO_Tahion.ttf') format('truetype');
}
body {
	background-color: #ebccb1;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
        font-family: "xo_verbenaregular", "xo_orielregular", "xo_tahionregular", "Verdana", "Arial", "Tahoma", "Helvetica", sans-serif;
	text-decoration: none;
	outline: none;
	font-weight: bold;
}
.poem {
  	margin: auto;
  	padding: 20px 0;
  	text-align: left;
  	width: 390px;
}
 p, h2, h3, h4, h5 {
    	margin: 0;
    	padding: 0;
}
.back {
    	width: 100%;
    	padding: 15px;
    	height: 50px;
    	font-weight: 900px;
    	font-size: 20px;
    	border-radius: 4px;
    	background-color: #ec0c0c;
    	color: #000000;
}
.gl {
    	float: left;
	right: 90%;
    	width: auto;
    	padding: 15px;
    	height: 50px;
    	font-weight: 900px;
    	font-size: 20px;
    	border-radius: 4px;
    	background-color: rgb(0, 215, 50);
    	color: #000000;
}
.miha {
    	width: 100%;
    	padding: 15px;
    	height: 50px;
    	font-weight: 900px;
    	font-size: 20px;
    	border-radius: 4px;
    	background-color: #34edf5;    
    	color: #000000;
}
@media screen and (max-width: 1444px) and (min-width: 1111px) {
    article {
        	float: none;
        	width: auto;
    }
    body {
        	background-size: 150%;
        	background-position: top;
    }
}
@media screen and (max-width: 1111px) and (min-width: 561px) {
    article {
        	float: none;
        	width: auto;
    }
    body {
        	background-size: 200%;
        	background-position: top;
    }
}
@media screen and (max-width: 560px) and (min-width: 361px) {
    article {
        	float: none;
        	width: auto;
    }
    body {
        	background-size: 250%;
        	background-position: top;
    }
        .gl {
        	float: none;
        	width: 100%;        
        }
}
@media screen and (max-width: 360px) and (min-width: 245px) {
    article {
        	float: none;
        	width: auto;
    }
    body {
        	background-size: 332%;
        	background-position: top;
    }
        .gl {
        	float: none;
        	width: 100%;        
        }
}
@media screen and (max-width: 244px) {
    article {
        	float: none;
        	width: auto;
    }
    body {
        	background-size: 400%;
        	background-position: top;
}
        .gl {
        	float: none;
        	width: 100%;        
        }
}
@media screen and (min-width: 700px){
    .miha {
        	padding: 0;
        	width: 60%;
        	font-weight: 900px;
        	font-size: 32px;
        	padding: 0;
    }
    .back {
        	padding: 0;
        	width: 60%;
        	font-weight: 900px;
        	font-size: 32px;
        	padding: 0;
    }
}
@media screen and (min-width: 560px){
	.gl {
		position: fixed;
		border-radius: 50%;
	}
}
