

body {
    background-color: #ebccb1;
    background-size: 100%;
}
#miha {
    width: 100%;
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #34edf5;
    background-position: center;
    color: #000000;
}
#back{
    width: 100%;
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #ec0c0c;
    background-position: center;
    color: #000000;
}
#nastya {
    width: 100%;
    padding: 15px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    font-size: 20px;
    border-radius: 4px;
    background: #34edf5;
    background-position: bottom;
    color: #000000;
}
@media screen and (max-width: 1200px) and (min-width: 781px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-color: #ebccb1;
    #miha, #nastya {
        width: auto;
    }

    }
}
@media screen and (max-width: 780px) and (min-width: 561px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-color: #ebccb1;
    }
}
@media screen and (max-width: 560px) and (min-width: 361px) {
    article {
        float: none;
        width: auto;
    }
    body {
        background-color: #ebccb1;
    #miha, #nastya {
        width: auto;
    }

    }
}
@media screen and (max-width: 360px) and (min-width: 245px) {
    article {
        float: none;
        width: auto;
        height: auto;
    }
    body {
        background-color: #ebccb1;
    #miha, #nastya {
        height: 100px;
        width: auto;
    }
}

}
@media screen and (max-width: 244px) {
    article {
        float: none;
        width: auto;
        height: auto;
    }
    body {
        background-color: #ebccb1;
    #miha, #nastya {
         height: 100px;
         width: auto; 
    }
}

}

@media screen and (min-width: 561px){
    #nastya {
        width: 60%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900px;
        font-size: 32px;
        padding: 0;
    }
    #miha {
        padding: 0;
        width: 60%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900px;
        font-size: 32px;
        padding: 0;
    }
    #back {
        padding: 0;
        width: 60%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900px;
        font-size: 32px;
        padding: 0;
    }

}
